<?xml version="1.0" ?>

<launch>
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find mimic_joint_gazebo_tutorial)/urdf/mimic_joint_gazebo_tutorial.urdf.xacro" />

  <!-- Load gazebo controller configurations -->
  <!-- Note: You MUST load these PID parameters for all joints that are using
       the PositionJointInterface, otherwise the arm + gripper will act like a
       giant parachute, counteracting gravity, and causing some of the wheels
       to lose contact with the ground, so the robot won't be able to properly
       navigate. See
       https://github.com/ros-simulation/gazebo_ros_pkgs/issues/612 -->
  <!-- <rosparam file="$(find mimic_joint_gazebo_tutorial)/config/gazebo/gazebo_controller.yaml" command="load" /> -->

  <!-- Gazebo -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="false" />
  </include>

  <!-- Spawn the robot into Gazebo -->
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model mimic_joint_gazebo_tutorial" />

  <!-- Load ros_control controller configurations -->
  <rosparam file="$(find mimic_joint_gazebo_tutorial)/config/ros_control/joint_state_controller.yaml" command="load" />
  <rosparam file="$(find mimic_joint_gazebo_tutorial)/config/ros_control/joint_trajectory_controller.yaml" command="load" />

  <!-- Start the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" output="screen"
    args="joint_state_controller gripper_controller"/>

  <!-- Robot state publisher -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen" />

  <!-- Load teleop -->
  <node name="rqt_joint_trajectory_controller" pkg="rqt_joint_trajectory_controller" type="rqt_joint_trajectory_controller" />
</launch>
